body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    color: #0b375e;
}

header {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #instructions, #start-game, #game-board {
} */

button {
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: steelblue;
    border: solid 1px steelblue;
}

/* #instructions {
    flex: 20%;
}

#start-game {
    flex: 20%;
} */

#game-board {
    flex: 50%;   
}